.card {
    border-radius: 20px;
    background-color: deeppink;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.imagen{
    width: 100%;
}

.wrapper-text {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    text-transform: uppercase;
    background-color: lime;
}

.texto {
    font-style: italic;
}
