.card {
    border-radius: 20px;
    background-color: deeppink;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.imagen{
    width: 100%;
}

.title {
    text-transform: uppercase;
    background-color: lime;
}

.texto {
    font-style: italic;
}
